td {
  /* display: flex; */
}
div.cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, transparent 49%, #000 50%, transparent 51%);
}
div.cell > div.node {
  border: 1pt solid black;
  background: white;
}
div.cell.bucket > div.node {
  background: lightblue;
}
div.cell.joint > div.node {
  background: lightyellow;
}

div.cell .arrow {
  border: solid black;
  border-width: 0 2pt 2pt 0;
  padding: 2px;
  display: inline-block;
}
div.cell.bucket .arrow {
  display: none;
}

.arrow.start {
  transform: rotate(-180deg);
}
.arrow.end {
  transform: rotate(-90deg);
}
